{
    "presets": [
        [
            "@babel/preset-env",
            {"useBuiltIns": "usage"}
        ]
    ],
    "plugins": [
        "syntax-async-functions",
        "transform-regenerator"
    ]
}